/*colors */

:root {
    --text: #1c1b1b;
    --white: #fbfbfb;
    --primary: #4e5968;    /* Grey color for primary button */
    --secondary: #3a99d9;  /* Blue color for secondary button */
    --success: #f3c623;    /* Yellow color for success button */
    --danger: #d9534f;     /* Red color for danger button */
    --warning: #8e44ad;    /* Purple color for warning button */
    --info: #e67e22;       /* Orange color for info button */
  }

  /*Typography */

  body {
    font-family: "Roboto", sans-serif;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  /* Buttons */

  .btn {
    filter: drop-shadow(2px 2px 5px #000000);
    border-radius: 0;
  }

  /* Primary Button */
  .btn-primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--text);
  }

  .btn-primary:hover {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--primary);
  }

  .btn-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--primary);
  }

  .btn-primary:active {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--primary);
  }

  /* Secondary Button */
  .btn-secondary {
    background-color: var(--secondary);
    color: var(--white);
    border-color: var(--text);
  }

  .btn-secondary:hover {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--secondary);
  }

  .btn-secondary:focus {
    box-shadow: 0 0 0 0.25rem var(--secondary);
  }

  .btn-secondary:active {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--secondary);
  }

  /* Success Button */
  .btn-success {
    background-color: var(--success);
    color: var(--white);
    border-color: var(--text);
  }

  .btn-success:hover {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--success);
  }

  .btn-success:focus {
    box-shadow: 0 0 0 0.25rem var(--success);
  }

  .btn-success:active {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--success);
  }

  /* Danger Button */
  .btn-danger {
    background-color: var(--danger);
    color: var(--white);
    border-color: var(--text);
  }

  .btn-danger:hover {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--danger);
  }

  .btn-danger:focus {
    box-shadow: 0 0 0 0.25rem var(--danger);
  }

  .btn-danger:active {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--danger);
  }

  /* Warning Button */
  .btn-warning {
    background-color: var(--warning);
    color: var(--white);
    border-color: var(--text);
  }

  .btn-warning:hover {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--warning);
  }

  .btn-warning:focus {
    box-shadow: 0 0 0 0.25rem var(--warning);
  }

  .btn-warning:active {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--warning);
  }

  /* Info Button */
  .btn-info {
    background-color: var(--info);
    color: var(--white);
    border-color: var(--text);
  }

  .btn-info:hover {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--info);
  }

  .btn-info:focus {
    box-shadow: 0 0 0 0.25rem var(--info);
  }

  .btn-info:active {
    background-color: var(--text);
    color: var(--white);
    border-color: var(--info);
  }
