/*colors */
:root {
  --blue-primary: #007bff;    /* Blue color for primary button */
  --yellow-primary: #ffc107;  /* Yellow color for primary button */
  --red-primary: #dc3545;     /* Red color for primary button */
  --orange-secondary: #fd7e14; /* Orange color for secondary button */
  --green-secondary: #28a745;  /* Green color for secondary button */
  --violet-secondary: #6f42c1; /* Violet color for secondary button */
  --black-hover: #000000;      /* Hover color */
}

/* Primary Buttons */
.btn-primary-blue {
  background-color: var(--blue-primary);
}

.btn-primary-blue:hover {
  background-color: var(--black-hover);
  color: white;
}

.btn-primary-yellow {
  background-color: var(--yellow-primary);
}

.btn-primary-yellow:hover {
  background-color: var(--black-hover);
  color: white;
}

.btn-primary-red {
  background-color: var(--red-primary);
}

.btn-primary-red:hover {
  background-color: var(--black-hover);
  color: white;
}

/* Secondary Buttons */
.btn-secondary-orange {
  background-color: var(--orange-secondary);
}

.btn-secondary-orange:hover {
  background-color: var(--black-hover);
  color: white;
}

.btn-secondary-green {
  background-color: var(--green-secondary);
}

.btn-secondary-green:hover {
  background-color: var(--black-hover);
  color: white;
}

.btn-secondary-violet {
  background-color: var(--violet-secondary);
}

.btn-secondary-violet:hover {
  background-color: var(--black-hover);
  color: white;
}
