@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
/*colors */
:root {
  --blue-primary: #4e5968;    /* Blue color for primary button */
  --green-primary: #00cc66;   /* Green color for primary button */
  --red-primary: #ff3300;     /* Red color for primary button */
  --secondary: #3a99d9;       /* Blue color for secondary button */
  --yellow-secondary: #f3c623; /* Yellow color for secondary button */
  --purple-secondary: #8e44ad; /* Purple color for secondary button */
  --black-hover: #000000;      /* Hover color */
}

/* Typography */
body {
  font-family: "Tauri", sans-serif;
}

.roboto-light, .roboto-medium, .roboto-bold, .roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.roboto-light {
  font-weight: 300;
}

.roboto-medium {
  font-weight: 500;
}

.roboto-bold {
  font-weight: 700;
}

.roboto-light-italic {
  font-weight: 300;
  font-style: italic;
}

/* Buttons */
.btn {
  filter: drop-shadow(2px 2px 5px #000000);
  border-radius: 0;
}

/* Primary Buttons */
.btn-primary-blue {
  background-color: var(--blue-primary);
  color: var(--white);
  border-color: var(--text);
}

.btn-primary-blue:hover {
  background-color: var(--black-hover);
}

.btn-primary-green {
  background-color: var(--green-primary);
  color: var(--white);
  border-color: var(--text);
}

.btn-primary-green:hover {
  background-color: var(--black-hover);
}

.btn-primary-red {
  background-color: var(--red-primary);
  color: var(--white);
  border-color: var(--text);
}

.btn-primary-red:hover {
  background-color: var(--black-hover);
}

/* Secondary Buttons */
.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
  border-color: var(--text);
}

.btn-secondary:hover {
  background-color: var(--black-hover);
}

.btn-secondary-yellow {
  background-color: var(--yellow-secondary);
  color: var(--white);
  border-color: var(--text);
}

.btn-secondary-yellow:hover {
  background-color: var(--black-hover);
}

.btn-secondary-purple {
  background-color: var(--purple-secondary);
  color: var(--white);
  border-color: var(--text);
}

.btn-secondary-purple:hover {
  background-color: var(--black-hover);
}
